.game-card {
    height: 100vh;
    font-family: 'Open Sans', monospace;
}
.container{
    margin-top: 200px;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

#inputHelp{
    font-size: 0.9em;
}
.row{
    margin-top: 20px;
}
.btnRetry{
    display: inline-block;
    margin-bottom: 20px;
    font-size: 1.2em;
    color: royalblue;
}
.btnRetry:hover{
    border-bottom: 1px solid royalblue;

}
.ygadai{
    text-align: center;
}
.col-btn{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}